openapi: 3.2.0
info:
  title: AppstoreSpy Suggestions API
  description: '# Authentication


    The Appstorespy API uses API-KEY authentication.'
  version: 0.0.1
servers:
- url: https://api.appstorespy.com/v1
tags:
- name: Suggestions
paths:
  /play/suggestions:
    get:
      tags:
      - Suggestions
      summary: Get Suggests
      operationId: get_suggests_play_suggestions_get
      parameters:
      - required: true
        schema:
          type: string
          title: Q
        name: q
        in: query
      - required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/AppCountries'
          default: US
        name: country
        in: query
      - required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/AppLanguages'
          default: en_US
        name: lang
        in: query
      - required: false
        schema:
          allOf:
          - $ref: '#/components/schemas/CacheTime'
          default: 7d
        name: freshness
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suggest'
        '202':
          description: Response in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuggestLite'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    AppCountries:
      type: string
      enum:
      - US
      - CA
      - AT
      - BE
      - CY
      - CZ
      - DK
      - FI
      - FR
      - DE
      - GR
      - HU
      - IE
      - IT
      - NL
      - 'NO'
      - PL
      - PT
      - RU
      - ES
      - SE
      - CH
      - TR
      - UA
      - GB
      - EG
      - IN
      - IL
      - MA
      - NG
      - SA
      - ZA
      - AE
      - AU
      - HK
      - ID
      - JP
      - KZ
      - KR
      - MY
      - NZ
      - PK
      - PH
      - SG
      - TW
      - TH
      - VN
      - AR
      - BR
      - MX
      title: AppCountries
      description: An enumeration.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuggestLite:
      properties:
        id:
          type: string
          title: Id
        term:
          type: string
          title: Term
        country:
          type: string
          title: Country
        added:
          type: string
          format: date-time
          title: Added
        lang:
          type: string
          title: Lang
        store:
          type: string
          title: Store
      type: object
      required:
      - id
      - term
      - country
      - added
      - lang
      - store
      title: SuggestLite
    Suggest:
      properties:
        id:
          type: string
          title: Id
        term:
          type: string
          title: Term
        country:
          type: string
          title: Country
        added:
          type: string
          format: date-time
          title: Added
        lang:
          type: string
          title: Lang
        store:
          type: string
          title: Store
        crawled:
          type: string
          format: date-time
          title: Crawled
        app:
          type: string
          title: App
        results:
          items:
            type: string
          type: array
          title: Results
      type: object
      required:
      - id
      - term
      - country
      - added
      - lang
      - store
      title: Suggest
    CacheTime:
      type: string
      enum:
      - 1d
      - 7d
      - 30d
      title: CacheTime
      description: An enumeration.
    AppLanguages:
      type: string
      enum:
      - en_US
      - ar
      - en_GB
      - fr_FR
      - es_419
      - de_DE
      - pt_BR
      - it_IT
      - ja_JP
      - ko_KR
      - tr_TR
      - ru_RU
      - vi
      title: AppLanguages
      description: An enumeration.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: API-KEY
