openapi: 3.2.0
info:
  title: AppstoreSpy Search Filter v.2 API
  description: "# Authentication\n\nThe Appstorespy API uses API-KEY authentication.<br>\n\nIf you do not have an API Key token, you can get it on your account page [https://appstorespy.com/account](https://appstorespy.com/account). <br>\n\nAn API Key is required to be sent as part of every request in request header.\n\n```\n\n    -H 'accept: application/json'\n\n    -H 'API-KEY: <your_token>'\n\n```\n\n\n\n# Fields\n\nUse the fields parameter to specify which fields should be returned. <br>\n\nExample:\n\n```\n\n    Request: fields=name,developer_name,ipd,downloads,...\n\n    Response: {name: ..., developer_name: ..., ipd: ..., downloads: ..., ...}\n\n```\n\nDon`t use fields parameter if you need to get all fields. <br>\n\n\n\n\n\n# Sort\n\nWhen you use search, you can add a sort parameter.\n\n```\n\n    Request: sort=ratingCount\n\n    Response: [{name: app1, ratingCount: 4.2}, {name: app2, ratingCount: 4.4}, ...]\n\n```\n\nIf you need DESC sorting add \"-\" before sort parametr.\n\n```\n\n    Request: sort=-ratingCount\n\n    Response: [{name: app2, ratingCount: 4.4}, {name: app1, ratingCount: 4.2}, ...]\n\n```\n\n\n\n# County & Language params\n\n...\n\n\n\n# Status codes / Error codes\n\n* 200 OK.\n\n* 202 Accepted - The app was not present in our databases and has been submitted for crawling. If the app is available anywhere, it will be available soon.\n\n* 204 No Content - No data for requested country.\n\n* 403 Forbidden - Your access token is not valid.\n\n* 429 Too Many Requests - Your request rate is over the limit.\n"
  version: 0.0.1
servers:
- url: https://api.appstorespy.com/v1
tags:
- name: Search Filter v.2
paths:
  /ios/apps/query:
    post:
      tags:
      - Search Filter v.2
      summary: Get Filter Search
      description: '|**Fields**||||

        |---|---|---|---|

        |**Name**         |**Type**    |**Sort**|**Description**|

        |name             |string      |-   |Name|

        |bundle           |string      |-   |Bundle|

        |description_full |string      |-   |Full Description|

        |published        |boolean     |-   |Published|

        |listing_visible  |boolean     |-   |Published in request country|

        |category         |string      |-   |Сategory|

        |category_type    |string      |-   |Type|

        |revenue_month    |integer     |+   |Monthly Revenue|

        |revenue_lifetime |integer     |-   |Lifetime Revenue|

        |downloads_month  |integer     |+   |Monthly Downloads|

        |downloads_lifetime|integer    |-   |Lifetime Downloads|

        |update_date      |date ISO8601|+   |Last Updated|

        |release_date     |date ISO8601|+   |Release date|

        |developer_name   |string      |-   |Developer name|

        |description_short|string      |-   |Short description|

        |whatsnew         |string      |-   |Whatsnew|

        |icon             |string      |-   |Image|

        |video            |string      |-   |Trailer|

        |screenshots      |[]string    |-   |Screenshots|

        |removal_date     |date ISO8601|+   |Removal date|

        |version          |string      |-   |Version|

        |size             |float       |-   |Size|

        |rating_count     |integer     |+   |Ratings|

        |rating_value     |float       |+   |Rating in request country|

        |review_count     |integer     |+   |Reviews|

        |rating_avg       |float       |+   |Rating|

        |iap              |boolean     |-   |Inapp|

        |copyright        |string      |-   |Copyright|

        |seller           |string      |-   |Seller|

        |chart_info       |object      |+   |App''s chart info: category, collection, country, position for today|



        |**Filters**|||

        |---|---|---|

        |**Name**|**Type**|**Description**|

        |name|string|Name|

        |published|boolean|Published|

        |category_type|string|APP or GAME|

        |revenue_month|ValueRange|{"gte": 100, "lte": 500} (In this field you need write values in thousands: 100 = 100000, 500 = 500000)|

        |downloads_month|ValueRange|{"gte": 100, "lte": 500} (In this field you need write values in thousands: 100 = 100000, 500 = 500000)|

        |update_date|DateRange|{"gte": "2021-01-01", "lte": "2022-01-01"}|

        |release_date|DateRange|{"gte": "2021-01-01", "lte": "2022-01-01"}|

        |rating_count|ValueRange|{"gte": 1000, "lte": 5000}|

        |developer|string|Developer name|

        |developer_id|string|Developer id|

        |active_countries|[]string|["US", "DE", "FR"] - List of countries where app is available (At least one country)|

        |category|string|App Store category: "TRAVEL", "EDUCATION", "GAMES_STRATEGY", "LIFESTYLE" etc|

        |review_count|ValueRange|{"gte": 1000, "lte": 5000}|

        |rating_avg|ValueRange|{"gte": 3.5, "lte": 5.0}|

        |with_ads|boolean|With Ads|

        |advertised|boolean|Advertised|'
      operationId: get_filter_search_ios_apps_query_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IosAppSearchBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IosAppListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyHeader: []
components:
  schemas:
    IosCategory:
      enum:
      - GAMES
      - GAMES_ACTION
      - GAMES_ADVENTURE
      - GAMES_ARCADE
      - GAMES_BOARD
      - GAMES_CARD
      - GAMES_CASINO
      - GAMES_FAMILY
      - GAMES_MUSIC
      - GAMES_PUZZLE
      - GAMES_RACING
      - GAMES_ROLE_PLAYING
      - GAMES_SIMULATION
      - GAMES_SPORTS
      - GAMES_STRATEGY
      - GAMES_TRIVIA
      - GAMES_WORD
      - BOOKS
      - BUSINESS
      - EDUCATION
      - ENTERTAINMENT
      - FINANCE
      - FOOD_AND_DRINK
      - HEALTH_AND_FITNESS
      - LIFESTYLE
      - MEDICAL
      - MUSIC
      - NAVIGATION
      - NEWS
      - PHOTO_AND_VIDEO
      - PRODUCTIVITY
      - REFERENCE
      - SHOPPING
      - SOCIAL_NETWORKING
      - SPORTS
      - TRAVEL
      - UTILITIES
      - WEATHER
      - DEVELOPER_TOOLS
      - GRAPHICS_AND_DESIGN
      - ALL
      title: IosCategory
      description: An enumeration.
    ValueRange:
      properties:
        lte:
          anyOf:
          - type: integer
          - type: number
          title: Lte
        gte:
          anyOf:
          - type: integer
          - type: number
          title: Gte
      type: object
      title: ValueRange
    AppLanguages:
      type: string
      enum:
      - en_US
      - ar
      - en_GB
      - fr_FR
      - es_419
      - de_DE
      - pt_BR
      - it_IT
      - ja_JP
      - ko_KR
      - tr_TR
      - ru_RU
      - vi
      title: AppLanguages
      description: An enumeration.
    NewIosApp:
      properties:
        id:
          type: string
          title: Id
        bundle:
          type: string
          title: Bundle
        name:
          type: string
          title: Name
        description_full:
          type: string
          title: Description Full
        published:
          type: boolean
          title: Published
        listing_visible:
          type: boolean
          title: Listing Visible
        category:
          type: string
          title: Category
        category_type:
          type: string
          title: Category Type
        revenue_month:
          type: integer
          title: Revenue Month
        revenue_lifetime:
          type: integer
          title: Revenue Lifetime
        downloads_month:
          type: integer
          title: Downloads Month
        downloads_lifetime:
          type: integer
          title: Downloads Lifetime
        release_date:
          type: string
          format: date
          title: Release Date
        update_date:
          type: string
          format: date
          title: Update Date
        developer_name:
          type: string
          title: Developer Name
        description_short:
          type: string
          title: Description Short
        whatsnew:
          type: string
          title: Whatsnew
        icon:
          type: string
          title: Icon
        video:
          type: string
          title: Video
        screenshots:
          items:
            type: string
          type: array
          title: Screenshots
        removal_date:
          type: string
          format: date
          title: Removal Date
        version:
          type: string
          title: Version
        size:
          type: number
          title: Size
        rating_count:
          type: integer
          title: Rating Count
        rating_value:
          type: number
          title: Rating Value
        review_count:
          type: integer
          title: Review Count
        rating_avg:
          type: number
          title: Rating Avg
        iap:
          type: boolean
          title: Iap
        chart_info:
          $ref: '#/components/schemas/IosChart'
        url_appstorespy:
          type: string
          title: Url Appstorespy
          description: Url to AppstoreSpy
        email:
          items:
            type: string
          type: array
          title: Email
          description: App's developer email
        url:
          type: string
          title: Url
          description: Link to App Store
        policy:
          type: string
          title: Policy
          description: '...'
        website:
          type: string
          title: Website
          description: App's website
        hosts:
          items:
            type: string
          type: array
          title: Hosts
          description: App's developer hosts
        support:
          type: string
          title: Support
          description: '...'
        developer_id:
          type: string
          title: Developer Id
        ads:
          allOf:
          - $ref: '#/components/schemas/Creatives'
          title: Ads
          description: App`s ads
        advertised:
          type: boolean
          title: Advertised
          description: App is advertised in networks
        copyright:
          type: string
          title: Copyright
          description: Copyright
        seller:
          type: string
          title: Seller
          description: Seller
        transferred:
          type: string
          title: Transferred
          description: The last transfer date as detected by AppstoreSpy
        previous_developer_id:
          type: string
          title: Previous Developer Id
          description: Previous developer ID before transfer
        previous_developer_name:
          type: string
          title: Previous Developer Name
          description: Previous developer name before transfer
      type: object
      title: NewIosApp
    TypeEnum:
      enum:
      - APP
      - GAME
      title: TypeEnum
      description: An enumeration.
    Image:
      properties:
        url:
          type: string
          title: Url
      type: object
      title: Image
    ChartFilterIos:
      properties:
        collection:
          $ref: '#/components/schemas/Collection'
        country:
          type: string
          title: Country
        date:
          type: string
          title: Date
        category:
          $ref: '#/components/schemas/IosCategory'
        platform:
          $ref: '#/components/schemas/IosPlatform'
      type: object
      required:
      - country
      - platform
      title: ChartFilterIos
    Collection:
      enum:
      - Free
      - Grossing
      - Paid
      - topselling_free
      - topgrossing
      - topselling_paid
      - topselling_new_free
      - topselling_new_paid
      - movers_shakers
      title: Collection
      description: An enumeration.
    AppCreativeVideo:
      properties:
        preview:
          type: string
          title: Preview
        video:
          type: string
          title: Video
        url:
          type: string
          title: Url
      type: object
      title: AppCreativeVideo
    Creatives:
      properties:
        video:
          $ref: '#/components/schemas/AppCreativeVideo'
        image:
          $ref: '#/components/schemas/Image'
        fb:
          items:
            type: string
          type: array
          title: Fb
        network:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Network
      type: object
      required:
      - video
      - image
      - fb
      - network
      title: Creatives
    IosPlatform:
      enum:
      - iPad
      - iPhone
      title: IosPlatform
      description: An enumeration.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    IosChart:
      properties:
        position:
          type: integer
          title: Position
        collection:
          type: string
          title: Collection
        category:
          type: string
          title: Category
        platform:
          type: string
          title: Platform
      type: object
      required:
      - position
      - collection
      - category
      - platform
      title: IosChart
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    IosAppSearchBody:
      properties:
        limit:
          type: integer
          title: Limit
          description: Count of apps in results
          default: 10
        page:
          type: integer
          title: Page
          description: Offset page
          default: 1
        sort:
          allOf:
          - $ref: '#/components/schemas/IosSortEnum'
          description: Field for sort
        fields:
          items:
            type: string
          type: array
          title: Fields
          description: Fields for select, empty for all
          default:
          - id
          - url_appstorespy
          - name
          - bundle
          - description_full
          - published
          - listing_visible
          - category
          - category_type
          - revenue_month
          - revenue_lifetime
          - downloads_month
          - downloads_lifetime
          - update_date
          - release_date
          - developer_id
          - developer_name
          - description_short
          - whatsnew
          - icon
          - video
          - removal_date
          - version
          - size
          - rating_count
          - rating_value
          - review_count
          - rating_avg
          - iap
          - hosts
          - chart_info
          - url
          - policy
          - email
          - support
          - advertised
          - ads
        country:
          allOf:
          - $ref: '#/components/schemas/AppCountries'
          description: Country for which return data
          default: US
        language:
          allOf:
          - $ref: '#/components/schemas/AppLanguages'
          description: 'Language of meta data. By default: en_US'
        filter:
          $ref: '#/components/schemas/SearchFilterIos'
      type: object
      required:
      - filter
      title: IosAppSearchBody
      example:
        sort: -downloads_month
        fields:
        - id
        - name
        - icon
        - video
        - category_type
        - category
        - url_appstorespy
        language: en_US
        filter:
          name: twitter
          published: true
          category_type: APP
          release_date:
            lte: '2026-08-22'
          update_date:
            lte: '2026-08-22'
          rating_count:
            lte: 1000000
            gte: 0
          active_countries:
          - US
    DateRange:
      properties:
        lte:
          type: string
          format: date
          title: Lte
        gte:
          type: string
          format: date
          title: Gte
      type: object
      title: DateRange
    IosAppListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/NewIosApp'
          type: array
          title: Data
        errors:
          items:
            $ref: '#/components/schemas/DetailedError'
          type: array
          title: Errors
        total_count:
          type: integer
          title: Total Count
          default: 0
      type: object
      title: IosAppListResponse
    AppCountries:
      type: string
      enum:
      - US
      - CA
      - AT
      - BE
      - CY
      - CZ
      - DK
      - FI
      - FR
      - DE
      - GR
      - HU
      - IE
      - IT
      - NL
      - 'NO'
      - PL
      - PT
      - RU
      - ES
      - SE
      - CH
      - TR
      - UA
      - GB
      - EG
      - IN
      - IL
      - MA
      - NG
      - SA
      - ZA
      - AE
      - AU
      - HK
      - ID
      - JP
      - KZ
      - KR
      - MY
      - NZ
      - PK
      - PH
      - SG
      - TW
      - TH
      - VN
      - AR
      - BR
      - MX
      title: AppCountries
      description: An enumeration.
    DetailedError:
      properties:
        location:
          type: string
          title: Location
        message:
          type: string
          title: Message
        value:
          anyOf:
          - type: string
          - items:
              type: string
            type: array
          title: Value
      type: object
      required:
      - location
      - message
      title: DetailedError
    SearchFilterIos:
      properties:
        id:
          items:
            type: string
          type: array
          title: Id
        name:
          type: string
          title: Name
        published:
          type: boolean
          title: Published
        category_type:
          $ref: '#/components/schemas/TypeEnum'
        revenue_month:
          $ref: '#/components/schemas/ValueRange'
        downloads_month:
          $ref: '#/components/schemas/ValueRange'
        release_date:
          $ref: '#/components/schemas/DateRange'
        update_date:
          $ref: '#/components/schemas/DateRange'
        rating_count:
          $ref: '#/components/schemas/ValueRange'
        developer:
          type: string
          title: Developer
        developer_id:
          type: string
          title: Developer Id
        editorial:
          type: boolean
          title: Editorial
        iap:
          type: boolean
          title: Iap
          description: In app purchases
        active_countries:
          items:
            type: string
          type: array
          title: Active Countries
        description_full:
          type: string
          title: Description Full
        description_short:
          type: string
          title: Description Short
        whatsnew:
          type: string
          title: Whatsnew
          description: Updates in app
        hosts:
          type: string
          title: Hosts
        with_ads:
          type: boolean
          title: With Ads
        advertised:
          type: boolean
          title: Advertised
        collection_id:
          type: string
          title: Collection Id
          description: Collection ID
        discovered:
          items:
            type: string
            format: date
          type: array
          title: Discovered
        website:
          type: string
          title: Website
          description: Website
        bundle:
          items:
            type: string
          type: array
          title: Bundle
          description: App bundle ID(s); accepts a single string or a list
        transferred:
          type: boolean
          title: Transferred
          description: Whether the app has been transferred to a new developer at least once
        transfer_date:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          title: Transfer Date
          description: Date range (gte/lte) of the last developer transfer
        removal_date:
          allOf:
          - $ref: '#/components/schemas/DateRange'
          title: Removal Date
          description: Date range (gte/lte) of app removal from the store; matches removed (unavailable) apps
        category:
          $ref: '#/components/schemas/IosCategory'
        chart_filter:
          $ref: '#/components/schemas/ChartFilterIos'
        developer_name:
          type: string
          title: Developer Name
        rating_avg:
          $ref: '#/components/schemas/ValueRange'
        review_count:
          $ref: '#/components/schemas/ValueRange'
        copyright:
          type: string
          title: Copyright
        seller:
          type: string
          title: Seller
        similar_apps:
          type: string
          title: Similar Apps
          description: Similars apps
        reverse_similar_apps:
          type: string
          title: Reverse Similar Apps
          description: Apps with app in similar`s lists
        previous_developer_id:
          type: string
          title: Previous Developer Id
          description: Previous developer ID before transfer
        previous_developer_name:
          type: string
          title: Previous Developer Name
          description: Previous developer name before transfer
        pre_order:
          type: boolean
          title: Pre Order
          description: Pre-order apps only (True); matches apps whose release date is still in the future
      type: object
      title: SearchFilterIos
    IosSortEnum:
      type: string
      enum:
      - revenue_month
      - -revenue_month
      - downloads_month
      - -downloads_month
      - update_date
      - -update_date
      - release_date
      - -release_date
      - removal_date
      - -removal_date
      - downloads_exact
      - -downloads_exact
      - downloads_mark
      - -downloads_mark
      - rating_count
      - -rating_count
      - rating_value
      - -rating_value
      - review_count
      - -review_count
      - rating_avg
      - -rating_avg
      - chart_info
      - -chart_info
      title: IosSortEnum
      description: An enumeration.
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: API-KEY
